# Maven output
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse / IntelliJ / VS Code files
*.iml
*.ipr
*.iws
.idea/
.vscode/
.project
.classpath
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.swo

# Java-specific
*.class

# Packaging
*.jar
*.war
*.ear

# Generated test reports
surefire-reports/

